@font-face {
  font-family: FjordOne;
  src: url('fonts/FjordOne-Regular.ttf');
}

@font-face {
  font-family: Inter;
  src: url('fonts/Inter-Regular.otf');
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  font-family: FjordOne;
  font-size: 0.9em;
}

h1,
h2,
h3 {
  color: #3366ff;
}

a {
  color: inherit;
  text-decoration: none;
}

a strong {
  font-family: Inter;
}

a:hover {
  color: #3366ff;
}

ul {
  padding: 0 2ch;
  list-style-type: circle;
  line-height: 2ch;
}
